*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}

body{
    background: #f2f2f2;
    cursor: default;
    overflow-y: scroll;
}

.index{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Fredoka One";
    src: url("./fonts/Fredoka_One/FredokaOne-Regular.ttf");
    src: url("./fonts/Fredoka_One/FredokaOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }