.header{
    width: 100%;
    min-width: 400px;
    background: #83ccfd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    z-index: 10;
    height: 51px;
}

.logo{
    font-family: "Fredoka One";
    font-size: 26px;
    color: white;
}

.signin{
    font-size: 13px;
    padding: 4px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
};
    
.signin:hover{
    transform: scale(1.02);
}