.join{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(245, 160, 160);
    border-radius: 5px;
}

.header{
    margin: 10px 0;
    font-size: 25px;
}

.nameInput{
    border-radius: 5px;
    border: none;
    padding: 5px ;
}

.actions{
    display: flex;
    margin: 10px 0;
}

.actions button{
    width: 110px;
}